* {
    margin: 0;
}

/* Tomamos el elemento section */
section {

    /*Fixed el elemento se quedará fijo en la pantalla */
    background-attachment: fixed;

    /* Para que el fondo quede centrado*/
    background-position: center center;

    /* Define el tamaño de la imagen */
    background-size: cover;

    /*Definimos el 100% del viewport*/
    height: 100vh;

}

/*Pueden compartir propiedades 2 tipos de selectores*/
footer, nav {
    height: 10vh;
    background-color: #ccc;
}

#home {
    /*Definimos un background mediante imagen*/
    background-image: url('../img/img_parallax.jpg');
}

#about {
    height: 50vh;
}

#portfolio {
    /*Definimos el background de nuestra seccion*/
    background-image: url('../img/img_parallax3.jpg');
}

#contact {
    background-image: url('../img/img_parallax2.jpg');
}

li {
    /*Define el tipo de caja que se utilizara en el elemento*/
    display: inline;
    float: right;
}

a {
    display: block;
    padding: 27px;
    background-color: #ccc;
    color: white;
}

div {
    color: #777;
    background-color: white;
    text-align: center;
    width: 100vw;
    height: 100vh;
    text-align: justify;
}

h2{
    margin: 200px 0px 0px ;
}

p{
    margin: 30px 30px 0px ;
}